* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
	background-color: gainsboro;
  width: 50%;
	text-align: center;
  min-width: 450px;
}

h2 {
	color: red;
}

h4 {
	color: blue;
}

button:hover {
  font-size: 100%;
}

.addbutt {
  background: lightgreen;
  color:white;
  cursor: pointer;
}

.rembutt {
  background: tomato;
  color:white;
  cursor: pointer;
}

.adding {
  position: static;
  animation-name: addition;
  animation-duration: 1s;
}

@keyframes addition {
  from { opacity: 0; 
    }
  to { opacity: 1;
    }
}

.remove {
  position: absolute; 
  animation-name: removal;
  animation-duration: 1s;
  animation-fill-mode: forwards; 
}

@keyframes removal {
	from { left: 50px; 
        opacity: 1;	
  	}
  to { left: 500px;
        opacity: 0.2;
  	}
}

/* background color animation */
body {
  background: linear-gradient(-45deg, lightyellow, khaki, gold, yellow);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

