* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
	background-color: gainsboro;
	text-align: left;
}

h2 {
	color: red;
}

h4 {
	color: blue;
}

.addbutt {
  background: lightgreen;
  color:white;
  cursor: pointer;
}

.rembutt {
  background: tomato;
  color:white;
  cursor: pointer;
}

.remove {
  position: absolute; 
  animation-name: slideRight;
  animation-duration: 1s;
  animation-fill-mode: forwards; 
}

@keyframes slideRight {
	from { left: 50px; 
        opacity: 1;	
  	}
  to { left: 500px;
        opacity: 0.2;
  	}
}

/* background color animation */
body {
  //background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, aquamarine);
  background: linear-gradient(-45deg, pink, lightpink, tomato, red);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

